<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TeleDisk</title>
        <link rel="stylesheet" href="css/login.css">
    </head>
    <body>
        <div class="noSelect">
            <div class="centered" id="queue">
                <button class="xPacButton" id="logo"></button>
                <form id="login-form">
                  <div id="queueTextContainer">

                    <span id="loginTextContainer">
                      <p class="queueText">TeleDisk</p>
                      <p class="note">Please confirm your country code and enter your phone number.</p>
                      <input id="login_login" name="login" class="form__input" placeholder="Number" required>
                      <button id="login_button" class="button_b" type="button" >Accept</button>
                    </span>

                    <span id="codeTextContainer" style="display: none;">
                      <p class="queueText">Wait code...</p>
                      <input id="login_code" name="code" class="form__input" placeholder="Code" required>
                      <button id="code_button" class="button_b" type="button" >Log In</button>
                    </span>
                    
                    

                  </div>
                </form>                
            </div>
            <p id="buildVersion" class="note">Version 0.0.1 (Release ARM)</p>
            <p id="buildDate" class="note">Apr 14 2023</p>
        </div>
        <script src="./loginbundle.js"></script>
        
    </body>
</html>