<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Manager</title>
  <link rel="stylesheet" href="../css/fileman.css">
</head>

<body>
  <div id="header">
    <div id="user-photo"></div>
  </div>
  <div id="file-list" class="tile-container"></div>
  <div id="modal" class="modal">
    <span id="close" class="close"></span>
    <img class="modal-content" id="modal-image" />
    <div id="caption"></div>
    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
  </div>
  <div id="modalv" class="modal">
    <span id="closev" class="close"></span>
    <progress id="videoProgressBar" value="0" max="100"></progress>
    <video
      controls
      autoplay
      name="media"
      class="modal-content"
      id="modal-video"
    >
      <source id="videoSource" type="video/mp4" />
      <div id="caption"></div>
      <a class="prev">&#10094;</a>
      <a class="next">&#10095;</a>
    </video>
  </div>
  <div class="footer">
    <button class="footer-button" id="exit-button" onclick="localStorage.removeItem('savedSession'); document.location='./login.html'">
      <div class="footer-button-svg-exit"></div>
      <div class="footer-button-text">Выйти</div>
    </button>
    <button class="footer-button" onclick="document.location='../filemanager/filemanager.html'">
      <div class="footer-button-svg-files"></div>
      <div class="footer-button-text">Файлы</div>
    </button>
  </div>
  <script src="../bundle.js"></script>
  
  <script src="photomanager.js"></script>
</body>

</html>